name: Sync
on:
  schedule:
    - cron: '*/10 * * * *'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: google/secrets-sync-action@v1.4.1
        name: Sync Secrets
        with:
          SECRETS: ^(?!_GITHUB_SYNC_TOKEN$)
          REPOSITORIES: ^pearxteam\/
          GITHUB_TOKEN: ${{ secrets._GITHUB_SYNC_TOKEN }}